@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
    --font-mono: 'JetBrains Mono Variable', monospace;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: 0.125rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.25rem;
    --radius-4xl: 1.5rem;
}

:root {
    --background: #f7f9fb;
    --foreground: #191c1e;
    --card: #ffffff;
    --card-foreground: #191c1e;
    --popover: #ffffff;
    --popover-foreground: #191c1e;
    --primary: #3525cd;
    --primary-foreground: #ffffff;
    --secondary: #d0e1fb;
    --secondary-foreground: #54647a;
    --muted: #f2f4f6;
    --muted-foreground: #464555;
    --accent: #e2dfff;
    --accent-foreground: #3323cc;
    --destructive: #ba1a1a;
    --border: #c7c4d8;
    --input: #c7c4d8;
    --ring: #4d44e3;
    --chart-1: #3525cd;
    --chart-2: #505f76;
    --chart-3: #7e3000;
    --chart-4: #4f46e5;
    --chart-5: #a44100;
    --radius: 0.25rem;
    --sidebar: #ffffff;
    --sidebar-foreground: #191c1e;
    --sidebar-primary: #3525cd;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f2f4f6;
    --sidebar-accent-foreground: #3323cc;
    --sidebar-border: #c7c4d8;
    --sidebar-ring: #4d44e3;
}

.dark {
    --background: #191c1e;
    --foreground: #eff1f3;
    --card: #2d3133;
    --card-foreground: #eff1f3;
    --popover: #2d3133;
    --popover-foreground: #eff1f3;
    --primary: #c3c0ff;
    --primary-foreground: #0f0069;
    --secondary: #38485d;
    --secondary-foreground: #d3e4fe;
    --muted: #2d3133;
    --muted-foreground: #d8dadc;
    --accent: #3323cc;
    --accent-foreground: #dad7ff;
    --destructive: #ffdad6;
    --border: #777587;
    --input: #777587;
    --ring: #c3c0ff;
    --chart-1: #c3c0ff;
    --chart-2: #b7c8e1;
    --chart-3: #ffb695;
    --chart-4: #dad7ff;
    --chart-5: #ffd2be;
    --sidebar: #2d3133;
    --sidebar-foreground: #eff1f3;
    --sidebar-primary: #c3c0ff;
    --sidebar-primary-foreground: #0f0069;
    --sidebar-accent: #38485d;
    --sidebar-accent-foreground: #d3e4fe;
    --sidebar-border: #777587;
    --sidebar-ring: #c3c0ff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}
